// Base Styles

*
  box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

body,
input
    font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif
    font-weight 300

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline
