// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    height 100%
    width 100%

body,
input
    font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
